[submodule "argon"]
	path = argon
	url = https://github.com/stanford-ppl/argon

[submodule "scala-virtualized"]
	path = scala-virtualized
	url = https://github.com/stanford-ppl/scala-virtualized


[submodule "apps"]
	path = apps
	url = https://github.com/stanford-ppl/spatial-apps
