*.class
*.log
*.swp
*.sim
*.vcs
*.dat

# sbt specific
.cache
.history
.lib/
dist/*
out/*
out2/*
out3/*
out4/*
csvs/*
gen/*
gen_gold/*
gen_bak/*
chisel_test/*
test_all.sh
target/
logs/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
tags
docs/build/*
spatial/core/resources/chiselgen/template-level/test_run_dir/templates*
bak/
newCppAPIChanges/
debug/
bin/commit

# Scala-IDE specific
.scala_dependencies
.worksheet

### IntelliJ
.idea/
*.iml

# Chisel template tests
src/spatial/codegen/chiselgen/resources/template-level/project
src/spatial/codegen/chiselgen/resources/template-level/test_run_dir
src/spatial/codegen/chiselgen/resources/template-level/target
src/spatial/codegen/chiselgen/resources/altera-goodies/README.md

# Ctags
*.tags

# C files
*.o
*.d
