*.class
*.log
*.swp
*.sim
*.vcs
*.dat
*__*.scala

# sbt specific
.cache
.history
.lib/
dist/*
out*
csvs/*
gen/*
gen_gold/*
gen_bak/*
chisel_test/*
test_all.sh
target/
logs/*
lib_managed/
apps/src/hotfix.scala
src_managed/
project/boot/
project/plugins/project/
tags
docs/build/*
spatial/core/resources/chiselgen/template-level/test_run_dir/templates*
bak/
debug/
apps/resources/application.conf

bin/commit

# Scala-IDE specific
.scala_dependencies
.worksheet

### IntelliJ
.idea/
*.iml

# Chisel template tests
src/spatial/codegen/chiselgen/resources/template-level/project
src/spatial/codegen/chiselgen/resources/template-level/test_run_dir
src/spatial/codegen/chiselgen/resources/template-level/target
src/spatial/codegen/chiselgen/resources/altera-goodies/README.md

# Ctags
*.tags

# C files
*.o
*.d

# Altera specifics
spatial/core/resources/chiselgen/template-level/fringeDE1SoC/.qsys_edit/*
spatial/core/resources/chiselgen/template-level/fringeDE1SoC/Top_bak
history.txt
regTests.sh
./VideoSysSim
./moduleSims
