*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
out/*
gen/*
target/
logs/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### IntelliJ
.idea/
*.iml

# Chisel template tests
src/spatial/codegen/chiselgen/resources/template-level/project
src/spatial/codegen/chiselgen/resources/template-level/test_run_dir
src/spatial/codegen/chiselgen/resources/template-level/target


